html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

/* .centered-image {
   display: block;
   margin-left: auto;
   margin-right: auto;
} */

.image-container.slide1-image {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image-container.slide2-image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    z-index: 1;
}

.image-container.slide3-image {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    z-index: 1;
}

.image-container.slide4-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 1;
}


.slide h1, .slide h2, .slide h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    transition: opacity 2s;
    opacity: 0.3;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: background-color 1s, opacity 2s;
}
.welcome-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slide1-heading {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-color: rgb(67, 55, 201);
    text-underline-offset: 7px;
    margin: 5px;
    color: white;
}

.slide1-heading-2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #a2a2a2;
}


.slide2-heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin: 5px;
    color: white;
}

.slide2min {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}

.slide3-heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin: 5px;
    color: white;
}

.slide3min {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}

.slide4-heading {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin: 5px;
    color: white;
}

.slide4min {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: black;
}







.active {
    opacity: 1;
}


.active h1, .active h2, .active h4 {
    opacity: 1;
}



.next {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 3;
}

.arrow.right {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
    margin-left: 10px;
}

.arrow.left {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
    margin-left: 10px;
}

.next:hover {
    background-color: rgb(67, 55, 201);
    transform: translateY(-2px);
}

.next:hover .arrow.right {
    border-color: white;
}

.next:hover .arrow.left {
    border-color: white;
}

.back {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s;
}

.back:hover {
    background-color: rgb(67, 55, 201);
    transform: translateY(-2px);
}

.back:hover .arrow.left {
    border-color: white;
}

.progress-bar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.circle.active {
    background-color: #000;
}

@keyframes vibrate {
    0% {
        transform: rotate(-45deg) translateY(0);
    }
    100% {
        transform: rotate(-45deg) translateY(-4px);
    }
}

.arrow.right:active {
    border-color: #FF6B00;
    transform: rotate(-45deg) translateY(4px);
}

.arrow.left:active {
    border-color: #FF6B00;
    transform: rotate(-45deg) translateY(4px);
}


.color1 {
    background-color: #1A1A1D; /* Dark grey */
}

.color2 {
    background-color: #4A4A4D; /* Medium grey */
}

.color3 {
    background-color: #22313F; /* Dark navy blue */
}

.color4 {
    background-color: #171b20; /* Slate grey */
}

.color5 {
    background-color: #0B0F1A; /* Dark grey */
}
